body {
    font-family: 'Roboto', sans-serif;
    margin: 20;
}

h1 {
    font-size: 40px;
    color: white;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
    margin-top: 100px;

}

.half-width {

    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    display: block;


}

.middle {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 140px;
}

.donation-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(231, 73, 73));
    padding: 10px 10px;
    color: white;
    font: 50px;
    border-radius: 2px;
    margin-left: 300px;
    margin-top: 100px;

}

.donation-button-for {
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(231, 73, 73));
    padding: 10px 15px;
    color: white;
    font: 40px;
    border-radius: 6px;
    margin-left: 450px;
    margin-top: 400px;


}

.donation-four {
    background-image: url(images/donation4.jpg);
    background-repeat: no-repeat;

}

.basic-item {
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 20px gray;

}

#education {
    background-color: rgb(247, 243, 207);
}

footer {
    text-align: center;
    display: block;
}

.title-align {
    text-align: center;
}

.money-manage {
    display: flex;
    align-items: center;
    justify-content: center;

}

.money-align {
    height: 50px;
    width: 50px;
    margin: 5px;
}

#border {
    border-color: red;
    border-width: 5px;
    border-style: inset;

}

.last-bit {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    padding: 11px 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#caption {
    background-color: red;
}